* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html 
{
 font-size: 10px;
 /* Sayfayı rem düründe orantılı ölçülendirmek için verdik */
}
body 
{
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #FFFFFF;
}
ul 
{
    list-style-type: none;
}
a 
{
    text-decoration: none;
}
.container 
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: .6rem;
    padding-left: .6rem;
}

.container::after 
{
    clear: both;
    content: "";
    display: block;
}
/*------- Header ----------------- */
header 
{
    background-color: #000000;
    padding-top: .8rem;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
    width: 100%;
}
#logo 
{
    float: left;
}
#menu
{
    float: right;
}
#menu .basliklar  
{
    float: left;
    margin: 2.5rem .5rem;
    position: relative;
}
#menu .baslik
{
    display: block;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
#menu .baslik:hover 
{
    color: #F34236;
    transition: .6s;
    font-size: 1.7rem;
}
#acilir-menu {
    list-style: none;
    color: #FFFFFF;
    position: absolute;
    display: none;
    top: 0;
    padding: 0;
    margin: 0;
  }
#acilir-menu .acilir 
{

}
 
/*--------- Slider ----------------- */

#slider 
{
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 110px);
}
#slider figure 
{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img 
{
    width: 20%;
    float: left;
}
@keyframes slider 
{
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}    
    100% {left: 0%;}    
}

/*------------- Haberler ---------------- */

#haberler 
{
    background-color: #FFFFFF;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}
#haberler strong 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
}

.haber
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    width: 50rem;
    float: left;
    position: relative;
}
.haber p 
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.haber a 
{
    font-size: 1.6rem;
    text-decoration: none;
    color: #000000;
}
.haber img 
{
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
.haber::after 
{
    content: "";
    clear: both;
    display: block;
}
/* Duyurular */
#duyurular 
{
    background-color: #FFFFFF;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    text-align: left;
}
#duyurular strong 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
}
.duyuru 
{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-top: 1px solid #6D666C;
    opacity: 0.8;
}
.duyuru h4 
{
    color: #F34236;
    padding-bottom: 5px;
}
.duyuru a 
{
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
}
/* -------- footer -------------  */
footer 
{
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Sulphur Point', sans-serif;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

#iletisim 
{   
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 5rem;
    text-align: center;
}
.iletisim-kutu 
{
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 33.333%;
    text-align: center;
}
#iletisim::after
{
    content: "";
    clear: both;
    display: block;
}
#iconlar 
{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
#iconlar a 
{
    padding-right: 2rem;
    color: #FFFFFF;
}
footer p 
{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    text-align: center;
}
#up 
{
    color: #FFFFFF;
    border: 2px solid grey;
    border-radius: 50%;
    padding: 11px 12px;
}
#up:hover 
{
    background-color: #F34236;
    color: #FFFFFF;
    transition: 1s;
}
@media screen and (max-width: 576px)
{
    .container 
    {
    max-width: 540px;
    
    }
    html 
    {
        font-size: 8px;
    }    
    .haber
    {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    }
    #menu .baslik:hover 
    {
    color: #FFFFFF;
    }
    #acilir-menu {
        list-style: none;
        color: #FFFFFF;
        position: absolute;
        display: block;
        top: 0;
      }
    #acilir-menu .acilir 
    {
        position: relative;
        top: 100;
    }
    #acilir-menu a 
    {
        text-decoration: none;
        list-style-type: none;
        color: #FFFFFF;
    }
    .duyuru h4 
    {
    padding-bottom: 3px;
    }
    .duyuru a 
    {
    text-decoration: none;
    font-size: 1.5rem;
    }
    .haber p
    {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    }
    #iletisim 
    {   
    width: 100%;
    padding: 0;
    text-align: center;
    }
    .iletisim-kutu 
    {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    }
    footer p 
    {
    font-size: 2rem;
    text-align: center;
    }
    
    footer 
    {
    font-family: 'Sulphur Point', sans-serif;
    padding-top: 1rem;
    padding-bottom: .5rem;
    }
    .iletisim-kutu 
    {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    }
}
@media screen and (max-width: 768px)
{
    html 
    {
        font-size: 8px;
    }
    .container 
    {
    max-width: 740px;
    }
    #iletisim 
    {   
    width: 100%;
    float: none;
    }
    .iletisim-kutu 
    {
    padding-right: .1rem;
    max-width: 50%;
    text-align: center;
    }
}
@media screen and (min-width: 1200px)
{
    html 
    {
        font-size: 10px;
    }
    .container 
    {
    max-width: 1140px;
    }
    .haber
    {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50rem;
    float: left;
    position: relative;
    }
}